body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #00FF00;
}

#page-wrapper {
  position: relative;
  display: block;
}

header {
  position: fixed;
  top: 0;
  min-height: 70px;
  padding: 0px 10px;
  justify-content: space-around;
  align-items: center;
  background-color: #DCDCDC;
  width: 100%;
  border: 2px solid #00FF00;
}

.logo {
  width: 65vw;
  display: flex;
  margin: 4px auto;
  justify-content: center;
  border: 1px solid #00FF00;
}

.logo img {
  width: 100%;
  height: 100%;
  max-width: 60px;
  margin: 4px;
  border: 1px solid #00FF00;
}

.logo p {
  font-size: 34px;
  margin: 0;
  text-align: center;
}

#nav-bar {
  font-weight: 600;
  border: 1px solid #00FF00;
  margin: 6px;
}

#nav-bar ul {
  margin: 0 auto;
  text-align: center;

}

#nav-bar ul li {
  font-size: 14px;
  list-style: none;
  margin: 3px;
}

.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
  text-align: center;
  background-color: #DCDCDC;
  width: 95%;
  margin-left: 10px;
  padding: 8px;
}

#hero h2 {
  letter-spacing: 6px;
}

#Services {
  margin-top: 30px;
}

#Services .icon {
  display: flex;
  align-items: center;
}

#Services .desc {
  padding: 5px;
}

.grid {
  display: flex;
}

#Pricing {
  margin-top: 60px;
  display: grid;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #00FF00;
  background-color: #DCDCDC;
  width: 40vw;
  margin: 10px;
  padding: 10px;
}

.product ol {
  margin-left: -35px;
}

.product li {
  list-style: none;
  font-size: 20px;
}

footer {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer ul li a{
  padding: 0 10px;
  text-decoration: none;
}

@media (max-width: 500px) {
  header {
    width: 65vw;
    margin-top: 3px;
    border: 1px solid #00FF00;
  }

}