html {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.4;
}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: darkgreen;
    box-shadow: 0 0 10px black;
    justify-content: center;
}

.imgWrap {
    align-self: center;
    box-shadow: 0 0 9px white;
    padding: 0px;
    margin: 0px;
}

#Logo {
    width: 40px;
    height: 40px;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-list a {
    text-decoration: none;
    padding: 5px 20px;
    font-size: 1.5em;
    color: white;
}

#welcomeSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
    box-shadow: 0 0 6px darkgreen;
}