* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    line-height: 1.4;

}

.nav {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: darkgreen;
    box-shadow: 0 0 10px black;
    justify-content: center;
}

.imgWrap {
    align-self: center;
    box-shadow: 0 0 9px white;
    padding: 0px;
    margin: 0px;
}

#Logo {
    width: 20px;
    height: 20px;
}

.nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
}

.nav-list a {
    text-decoration: none;
    padding: 5px 20px;
    font-size: 1.5em;
    color: white;
    display: block;
}

#welcome-section {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: black;
}

h1 {
    font-size: 3rem;
    font-family: fantasy;
    margin-bottom: 0px;
    border-bottom: .5px solid white;
}

#welcome-section > p {
    font-size: 1.2rem;
    font-weight: 200;
    font-style: italic;
    color: chartreuse;
    text-align: center;
}

#projects {
    text-align: center;
    padding: 10rem 2rem;
    background-color: rgb(0, 126, 0);
}

.project-header {
    max-width: 640px;
    margin: 0 auto 6rem auto;
    border-bottom: 0.2rem solid white;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 6rem;
}

.project {
    background: rgb(36, 36, 36);
    border-radius: 2px;
    text-decoration: none;
    color: white;
}

.project img {
    width: 100%;
}

.projectTitle {
    font-size: 1.6rem;
    padding: 1rem 1rem;
}

@media (max-width: 28.75em) {
.nav {
    justify-content: center;
}

}